# 1.10 Coding Exercise

In [3]:
character_job = "pirate"
character_ride = "ship"
character_souvenir = "gold"
character_pet = "parrot"

print("There was once a " + character_job + " who loved adventure.")
print("The " + character_job + " would take her " + character_ride + " to unknown places.")
print("She brings home a lot of " + character_souvenir + ".")
print("Then she goes home to her pet " + character_pet + ", Chuckles.")

There was once a pirate who loved adventure.
The pirate would take her ship to unknown places.
She brings home a lot of gold.
Then she goes home to her pet parrot, Chuckles.

# 1.14 Coding Exercise

In [6]:
print("Roses are red, violets are blue.")

if 10 > 7:
    print("Ten is greater than seven!")

if 16 < 42:
    print("Sixteen is less than forty-two!")
    
print("A long time ago in a galaxy far, far away...")

Roses are red, violets are blue.
Ten is greater than seven!
Sixteen is less than forty-two!
A long time ago in a galaxy far, far away...

# 2.3 Coding Exercise

In [9]:
def greet_name(name):
    print("Have a nice day! " + name)

greet_name("romwil")

Have a nice day! romwil

# 2.7 Coding Exercise

In [11]:
def slam_book(name,age,favColor,favMovie,motto):
    print("Name: " + name)
    print("Age: " + str(age))
    print("Favorite color: " + favColor)
    print("favorite movie: " + favMovie)
    print("Motto in life: " + motto)

name = input("Enter your name: ")
age = int(input("Enter your age: "))
favorateColor = input("Enter your favorite color: ")
favoriteMovie = input("Enter your favorite movie: ")
mottoInLife = input("Enter your motto in life: ")

slam_book(name,age,favorateColor,favoriteMovie,mottoInLife)

Enter your name: rom
Enter your age: 29
Enter your favorite color: blue
Enter your favorite movie: marvel movies
Enter your motto in life: work hard, trust the process
Name: rom
Age: 29
Favorite color: blue
favorite movie: marvel movies
Motto in life: work hard, trust the process

# 2.11 Coding Exercise

In [12]:
print(10 > 7)
print(str(73911))
print(tuple("Thank God it's Friday!"))
print(float(4302))
print(int(3299.35640))

True
73911
('T', 'h', 'a', 'n', 'k', ' ', 'G', 'o', 'd', ' ', 'i', 't', "'", 's', ' ', 'F', 'r', 'i', 'd', 'a', 'y', '!')
4302.0
3299

# 3.4 Coding Exercises

In [18]:
class Customers:
    greeting = "Welcome to the Coffee Palace"

customer1 = Customers()

customer1.name = "Samirah"
customer1.beverage = "iced caffe latte"
customer1.food = "Cinnamon roll"
customer1.total = 225

customer2 = Customers()

customer2.name = "Jerry"
customer2.beverage = "Caramel macchiato"
customer2.food = "Glazed doughnut"
customer2.total = 230

print(customer1.greeting + ", " + customer1.name)
print("Beverage order: " + customer1.beverage)
print(customer1.greeting + ", " + customer1.name)
print("Food order: " + customer2.food)

Welcome to the Coffee Palace, Samirah
Beverage order: iced caffe latte
Welcome to the Coffee Palace, Samirah
Food order: Glazed doughnut

# 3.8 Coding Exercise

In [19]:
print(217 * 6)
print(600 + 35234)
print(67 // 12)
print(56329 % 982)
print(34 ** 5)

1302
35834
5
355
45435424

# 3.12 Coding Exercise

In [22]:
my_age = 22
mom_age = 61
sister_age = 29

print((mom_age < sister_age) and (my_age == 22))
print(mom_age == 61)
print((mom_age > 34) or (sister_age == 22))
print(mom_age >= 54)
print(not((sister_age <= 400) and (my_age == 22)))

False
True
True
True
False

# 4.4 Coding Exercise

In [24]:
x = 332
y = 2031

if (x >= y):
    print("x is greater than y or equal to y")
elif (x == y):
    print("x is equal to y")
else:
    print("x is less than y")

x is less than y

# 4.8 Coding Exercise

In [26]:
furniture = ["table", "chair", "cabinet", "desk", "cough"]

for x in furniture:
    if x == "cabinet":
        continue
    print(x)
    
i = 1

while i < 15:
    print(i)
    i += 1
else:
    print("i is no longer less than 15")

table
chair
desk
cough
1
2
3
4
5
6
7
8
9
10
11
12
13
14
i is no longer less than 15